html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body {
    background-color: #212930;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-family: "Open Sans", arial, sans-serif;
	font-weight: 300;
	
}
.wrap {
	padding:0px 10px;
	margin: 0px auto;
}
.content{
	min-height: 34em;
}
.content-grid {
	width: 300px;
	text-align: center;
	z-index: -9999;
	margin: -32px auto;
}
input[type="text"] {
	font-family: 'Alegreya Sans', sans-serif;
	border: none;
	-webkit-border-radius: 3px 33px 33px 3px;
	border-radius: 10px 33px 33px 10px;
	color: rgba(85, 85, 85, 0.85);
	font-size: 0.9em;
	display: inline;
	padding: 10.7px 13px;
	background: #f5f5f5;
	border-top: 2px solid #000;
	outline: none;
	width: 65%;
	box-shadow: 0px 11px 34px #111;
	vertical-align: middle;
	-webkit-appearance: none;
}
form {
	margin-bottom: 0;
	text-align: center;
	width: 100%;
}
.grid img {
	width: 283px;
}
.grid {
	text-align: center;
	margin-top: 2.5em;
}
.grid h3 {
	font-family: 'Petit Formal Script', cursive;
	color: #FFF;
	display: block;
	padding-bottom: 1.5em;
	font-size: 0.9em;
	font-weight: 600;
	text-align: center;
	margin-top: 0.9em;
}

.btn {
	background: #0d7ec4; /* Old browsers */
	background: -moz-linear-gradient(top,  #0d7ec4 0%, #0a76b9 19%, #035b98 52%, #045a93 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0d7ec4), color-stop(19%,#0a76b9), color-stop(52%,#035b98), color-stop(100%,#045a93)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0d7ec4 0%,#0a76b9 19%,#035b98 52%,#045a93 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0d7ec4 0%,#0a76b9 19%,#035b98 52%,#045a93 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0d7ec4 0%,#0a76b9 19%,#035b98 52%,#045a93 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0d7ec4 0%,#0a76b9 19%,#035b98 52%,#045a93 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d7ec4', endColorstr='#045a93',GradientType=0 ); /* IE6-9 */
    cursor: pointer;
	padding: 18px 18px;
	display: inline-block;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	vertical-align: middle;
	margin-left: -48px;
	text-indent: -9999px;
	margin-top: 2.8px;
	outline: none;
	width:42px;
	height: 14px;
	border:none;
	-webkit-appearance: none;
}
.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	
}
button span{
	background: url(../img/arrow.png) repeat-x -9px -4px;
	height: 14px;
	width: 21px;
	display: block;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	transition: all 0.6s;
	top: 12px;
	position: absolute;
	left: 8px;
	outline: none;
	-webkit-appearance: none;
}
/* Button 4 */
.btn-4 {
	border-radius: 50px;
	border: 4px solid #0E2955;
	color: #fff;
	overflow: hidden;
}

.btn-4:active {
	color: #17954c;
}

button span:hover {
	background: url(../images/arrow.png) repeat-x 32px -4px;
	height: 14px;
	width: 21px;
	display: block;
	outline: none;
	border: none;
}

.btn-4:before {
	position: absolute;
	left:70%;

	display:none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	
}

.btn-4:active:before {
	color: #17954c;
	left: 20%;
	opacity: 0;
	top: 20px;
}
